<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
     <form  method="POST">

         <label>Name</label><br>
         <input type="text" name="name" placeholder="name" required><br>

         <label>Email</label><br>
         <input type="email" name="email" placeholder="email" required><br>

         <button type="submit" name="action" value="insert">Submit</button>
         <button type="submit" name="action" value="update">Update</button>


     </form>
</body>
</html>
